<form action="/get_move" method="POST">



<table>

 <tr>
  <td class="br"> <input type="submit" name="choice" value="<%= board[0] %>"></td><td class="br"> <input type="submit" name="choice" value="<%= board[1] %>"></td><td class="br"> <input type="submit" name="choice" value="<%= board[2] %>"></td>
 </tr><tr>
  <td class="br"> <input type="submit" name="choice" value="<%= board[3] %>"></td><td class="br"> <input type="submit" name="choice" value="<%= board[4] %>"></td><td class="br"> <input type="submit" name="choice" value="<%= board[5] %>"></td>
 </tr><tr>
  <td class="br"> <input type="submit" name="choice" value="<%= board[6] %>"></td><td class="br"> <input type="submit" name="choice" value="<%=board[7] %>"></td><td class="br"> <input type="submit" name="choice" value="<%= board[8] %>"></td>
 </tr>
</table>
</form>
<% if current_player == "X" %>
    <%=  name %> it is your turn pick a valid spot.

<% else %>

    <%= p2name %> it is your turn pick a valid spot.

<% end %>
 <br>
 




